services:
  api:
    build: .
    ports:
      - "7002:7002"
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:7002
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASSWORD}
      - RUNNING_IN_DOCKER=true


    depends_on:
      - db
    volumes:
      - ./ssl-certs:/https:rw
      - ./keys:/app/keys
    healthcheck:
      test: ["CMD", "stat", "/https/aspnetapp.pfx"]
      interval: 5s
      timeout: 3s
      retries: 15
      start_period: 5s

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
