services:
  api:
    build: .
    ports:
      - "7002:7002" # HTTPS uniquement
    env_file:
      - .env
    environment:
      - ASPNETCORE_URLS=https://+:7002
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASSWORD}
      - JwtSettings__SecretKey=${JwtSettings__SecretKey}
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=eshop;Username=postgres;Password=password

    depends_on:
      - db
    # ✅ Volume optionnel pour inspecter les certificats
    volumes:
      - ./ssl-certs:/https:rw
      - ./keys:/app/keys

    # ✅ HEALTH CHECK 
    healthcheck:
      test: [ "CMD", "stat", "/https/aspnetapp.pfx" ] # Vérifie que le cert existe
      interval: 3s
      timeout: 2s
      retries: 15
      start_period: 5s

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=eshop
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
