name: CI/CD

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Build & Test
        run: |
          dotnet restore
          dotnet build --no-restore
          dotnet test --no-build
          
      - name: Publish
        run: dotnet publish src/API/API.csproj -c Release -o publish
        
      - name: Build & Push Docker
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/koumeil/eshop:latest
            ghcr.io/koumeil/eshop:${{ github.sha }}